<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ywwynm.everythingdone">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/everythingdone"
        android:supportsRtl="true">

        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <activity
            android:name=".activities.ThingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/everythingdone"
            android:launchMode="singleTask"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.Things"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".activities.DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/thing"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.Detail"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/title_create_thing">
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <intent-filter android:label="@string/title_create_thing">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ImageViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/image_or_video_attachment"
            android:theme="@style/EverythingDoneTheme.ImageViewer"/>

        <receiver
            android:name=".receivers.ReminderReceiver"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.ReminderNotificationActionReceiver"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.HabitReceiver"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.HabitNotificationActionReceiver"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.HabitWidgetActionReceiver"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.LocaleChangeReceiver"
            android:enabled="true"/>

        <receiver
            android:name=".receivers.UserPresentReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:theme="@style/EverythingDoneTheme.Settings"/>

        <activity
            android:name=".activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:theme="@style/EverythingDoneTheme.About"/>

        <receiver
            android:name=".receivers.AutoNotifyReceiver"
            android:enabled="true"/>

        <activity
            android:name=".activities.StatisticActivity"
            android:label="@string/title_activity_statistic"
            android:screenOrientation="portrait"
            android:theme="@style/EverythingDoneTheme.Statistic"/>

        <receiver
            android:name=".receivers.DailyUpdateHabitReceiver"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".receivers.AppUpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.DailyCreateTodoReceiver"
            android:enabled="true"/>

        <activity
            android:name=".activities.AuthenticationActivity"
            android:taskAffinity="com.ywwynm.everythingdone.task.authentication"
            android:excludeFromRecents="true"
            android:theme="@style/EverythingDoneTheme.TotallyTransparent"/>

        <activity
            android:name=".activities.HelpActivity"
            android:label="@string/help"
            android:theme="@style/EverythingDoneTheme.Help"/>

        <receiver
            android:name=".appwidgets.CreateWidget"
            android:label="@string/title_create_thing">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_create"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidgets.CheckUpcomingWidget"
            android:label="@string/act_shortcut_check_upcoming">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_check_upcoming"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidgets.single.ThingWidgetTiny"
            android:label="@string/thing">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_thing_tiny"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ywwynm.everythingdone.action.broadcast.update_checklist"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidgets.single.ThingWidgetSmall"
            android:label="@string/thing">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_thing_small"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ywwynm.everythingdone.action.broadcast.update_checklist"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidgets.single.ThingWidgetMiddle"
            android:label="@string/thing">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_thing_middle"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ywwynm.everythingdone.action.broadcast.update_checklist"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidgets.single.ThingWidgetLarge"
            android:label="@string/thing">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_thing_large"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ywwynm.everythingdone.action.broadcast.update_checklist"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".appwidgets.list.ThingsListWidget"
            android:label="@string/title_widget_things_list">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info_things_list"/>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".appwidgets.single.BaseThingWidgetConfiguration"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_thing_widget_configure"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.ThingWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".appwidgets.single.ThingWidgetConfigurationTiny"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_thing_widget_configure"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.ThingWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".appwidgets.single.ThingWidgetConfigurationSmall"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_thing_widget_configure"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.ThingWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".appwidgets.single.ThingWidgetConfigurationMiddle"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_thing_widget_configure"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.ThingWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".appwidgets.single.ThingWidgetConfigurationLarge"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_thing_widget_configure"
            android:screenOrientation="user"
            android:theme="@style/EverythingDoneTheme.ThingWidgetConfiguration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".appwidgets.list.ThingsListWidgetConfiguration"
            android:taskAffinity="com.ywwynm.everythingdone.task.thing_list_widget_config"
            android:excludeFromRecents="true"
            android:theme="@style/EverythingDoneTheme.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <service
            android:name=".appwidgets.single.ChecklistWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name=".appwidgets.list.ThingsListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <service
            android:name=".services.PullAliveJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ywwynm.everythingdone"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

        <activity
            android:name=".activities.DelayReminderActivity"
            android:taskAffinity="com.ywwynm.everythingdone.task.delay_reminder"
            android:excludeFromRecents="true"
            android:theme="@style/EverythingDoneTheme.TotallyTransparent">
        </activity>

        <activity
            android:name=".activities.ShortcutActivity"
            android:theme="@style/EverythingDoneTheme.TotallyTransparent">
            <intent-filter>
                <action android:name="com.ywwynm.everythingdone.action.shortcut.create"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.ywwynm.everythingdone.action.shortcut.check_upcoming"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.StartDoingActivity"
            android:taskAffinity="com.ywwynm.everythingdone.task.doing"
            android:excludeFromRecents="true"
            android:theme="@style/EverythingDoneTheme.TotallyTransparent">
        </activity>

        <activity
            android:name=".activities.DoingActivity"
            android:label="@string/title_activity_doing"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/EverythingDoneTheme.Doing"
            tools:ignore="UnusedAttribute">
        </activity>

        <service
            android:name=".services.DoingService">
        </service>

        <receiver
            android:name=".receivers.DoingNotificationActionReceiver"
            android:enabled="true">
        </receiver>

        <activity
            android:name=".activities.NoticeableNotificationActivity"
            android:taskAffinity="com.ywwynm.everythingdone.task.noticeable_notification"
            android:excludeFromRecents="true"
            android:theme="@style/EverythingDoneTheme.NoticeableNotification">
        </activity>

    </application>

</manifest>